torch
.idea
venv
__pycache__
/qOne/docs/~$qOne.docx
/qTwo/bulletTwo/unnamed.png
/qTwo/bulletTwo/
/qTwo/bulletTwo/astareuclid.png
/qTwo/bulletTwo/astarmanhattan.png
/qTwo/bulletTwo/bfs.png
/qTwo/bulletTwo/bibfs.png
/qTwo/bulletTwo/dfs.png
/qFour/unnamed.png
unnamed.png
test.gif
test.mp4
/qFour/test.gif
0.png
1.png
2.png
3.png
*.png
*.gif
*.mp4
/qFour/fstrat2.png
/qFour/fireStratOne/
/qFour/fireStratThree/
/qFour/fireStratTwo/
